.button {
  width: 37px;
  height: 35px;

  cursor: pointer;
  user-select: none;
  text-decoration: none;
  word-break: break-word;

  color: $color-default-white;
  border: 1px solid transparent;
  outline-offset: 3px;
  background-color: $color-navy-blue;

  &:hover {
    border: 1px solid $color-resolution-blue;
    background-color: $color-default-white;

    svg path {
      fill: $color-resolution-blue;
    }
  }

  &:focus {
    outline: none;
    background-color: $color-default-white;

    svg path {
      fill: $color-resolution-blue;
    }
  }

  &:active {
    background-color: $color-resolution-blue;

    svg path {
      fill: $color-default-white;
    }
  }

  &--disabled {
    pointer-events: none;

    border: 1px solid $color-nobel;
    background-color: $color-nobel;

    &:focus {
      background-color: $color-nobel;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 5px;
    padding-bottom: 3px;
  }
}
