.button {
  width: 37px;
  height: 35px;

  cursor: pointer;
  user-select: none;
  text-decoration: none;
  word-break: break-word;

  color: $color-default-white;
  border: 1px solid transparent;
  outline-offset: 3px;
  background-color: $color-navy-blue;

  &:hover {
    border: 1px solid $color-resolution-blue;
    background-color: $color-default-white;
  }

  &:focus {
    background-color: $color-default-white;
  }

  &:active {
    background-color: $color-resolution-blue;
  }

  &--disabled {
    pointer-events: none;

    border: 1px solid $color-nobel;
    background-color: $color-nobel;

    &:focus {
      background-color: $color-nobel;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 5px;
    padding-bottom: 3px;
  }
}

.button::after {
  content: "";
  display: block;
  position: relative;
  width: 20px;
  height: 9px;
  top: 1px;
  left: 2px;
  background-color: $color-default-white;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-image: url("/__spritemap#sprite-arrow-view");
}

.button:hover::after {
  background-color: $color-resolution-blue;
}

.button:focus::after {
  background-color: $color-resolution-blue;
}

.button:active::after {
  background-color: $color-default-white;
}

.button:disabled::after,
.button--disabled::after {
  background-color: $color-default-white;
}

.button--prev::after {
  left: 1px;
  transform: rotate(180deg);
}
