.contacts__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 320px;
  margin: 0 auto;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;

    max-width: 1200px;
    padding: 123px 120px 60px;
  }
}

.contacts__text-wrapper {
  display: flex;
  flex-direction: column;

  padding: 36px 15px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 45px 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  p {
    font-size: $font-line-size-rabbit;
    font-weight: $regular;
    line-height: $font-line-size-deer;

    max-width: 268px;
    margin: 0;
    padding-bottom: 30px;

    @media (min-width: $tablet-width) {
      font-size: $font-line-size-fox;
      line-height: $font-line-size-lion;

      max-width: 480px;
      padding-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      max-width: 490px;
      padding-bottom: 49px;
    }
  }
}

.contacts__header-small {
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    padding-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 23px;
  }
}

.contacts__header-big {
  top: 23px;

  @media (min-width: $tablet-width) {
    top: 45px;
  }

  @media (min-width: $desktop-width) {
    top: 106px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;

  width: 185px;
  margin: 0;
  padding: 0;
  padding-left: 32px;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;

    width: 678px;
    padding-left: 34px;

    gap: 74px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;

    width: 500px;
    padding-left: 56px;
    gap: 0;
  }
}

.contacts__item {
  position: relative;

  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    min-width: 119px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 34px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: -32px;

    width: 22px;
    height: 22px;

    content: "";

    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: -1px;
      left: -34px;

      width: 24px;
      height: 24px;
    }

    @media (min-width: $desktop-width) {
      top: 12px;
      left: -56px;

      width: 26px;
      height: 26px;
    }
  }

  &--phone::before {
    background-image: url("/__spritemap#sprite-phone-view");
  }

  &--mail::before {
    background-image: url("/__spritemap#sprite-mail-view");
  }

  &--address::before {
    background-image: url("/__spritemap#sprite-pin-contacts-view");
  }
}

.contacts__item-header {
  font-size: $font-line-size-rabbit;
  font-weight: $semi-bold;
  line-height: $font-line-size-rabbit;

  margin: 0;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-fox;
    line-height: $font-line-size-fox;

    padding-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-line-size-wolf;
    line-height: $font-line-size-wolf;

    padding-bottom: 9px;
  }
}

.contacts__description {
  font-size: $font-line-size-rabbit;
  font-weight: $regular;
  line-height: $font-line-size-deer;

  margin: 0;

  text-decoration: none;

  color: inherit;

  @media (min-width: $tablet-width) {
    line-height: $font-line-size-bear;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-line-size-fox;
    line-height: $font-line-size-lion;
  }
}

.contacts__picture {
  display: block;

  width: 320px;
  height: 343px;

  background-color: $color-nobel;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 324px;
    margin-top: 26px;
  }
}

.contacts__picture-img {
  width: 320px;
  height: 343px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 324px;
  }
}
