.gallery__wrapper {
  position: relative;

  max-width: 320px;
  margin: 0 auto;
  padding: 36px 0 3px;

  color: $color-elephant;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-top: 123px;
  }
}

.gallery__swiper-wrapper {
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;

    padding-top: 45px;
  }
}

.gallery__swiper-slide--full.swiper-slide {
  width: 158px;
  height: 266px;

  background-color: $color-nobel;

  @media (min-width: $tablet-width) {
    width: 253px;
    height: 418px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 463px;
  }
}

.gallery__swiper-slide--crop.swiper-slide {
  display: grid;

  width: 157px;
  height: 266px;

  grid-template-rows: 135px 1fr;
  gap: 6px;

  @media (min-width: $tablet-width) {
    width: 252px;
    height: 418px;

    gap: 7px;
    grid-template-rows: 209px 1fr;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 463px;

    grid-template-rows: 233px 1fr;
  }
}

.gallery__picture {
  display: block;

  width: 158px;
  height: auto;

  background-color: $color-nobel;

  @media (min-width: $tablet-width) {
    width: 253px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
  }
}

.gallery__picture-img {
  width: 158px;
  max-width: 100%;
  height: auto;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 253px;
    max-width: 100%;
    height: auto;

  }

  @media (min-width: $desktop-width) {
    width: 284px;
  }
}

.gallery__picture-img--mountain {
  height: 266px;

  @media (min-width: $tablet-width) {
    height: auto;
  }
}

.gallery__picture-img--winter {
  height: 134px;

  @media (min-width: $tablet-width) {
    width: 252px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: auto;
  }
}

.gallery__picture-img--tent {
  height: 125px;

  @media (min-width: $tablet-width) {
    width: 252px;
    height: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: auto;
  }
}

.gallery__picture-img--campfire {
  height: 266px;

  @media (min-width: $tablet-width) {
    width: 253px;
    height: 418px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: auto;
  }
}

.gallery__picture-img--dinner {
  width: 157px;
  height: 135px;

  @media (min-width: $tablet-width) {
    width: 252px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 233px;
  }
}

.gallery__text-wrapper {
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }

  p {
    font-size: $font-line-size-mouse;
    font-weight: $regular;
    line-height: $font-line-size-wolf;

    margin: 0;
    padding-top: 27px;

    @media (min-width: $tablet-width) {
      font-size: $font-line-size-rabbit;
      line-height: $font-line-size-bear;

      max-width: 355px;
      padding-top: 30px;
    }

    @media (min-width: $desktop-width) {
      font-size: $font-line-size-fox;
      line-height: $font-line-size-lion;

      max-width: 670px;
      padding-top: 24px;
    }
  }

  span {
    @media (min-width: $tablet-width) {
      white-space: nowrap;
    }

    @media (min-width: $desktop-width) {
      white-space: wrap;
    }
  }
}

.gallery__header-big {
  top: 23px;

  @media (min-width: $tablet-width) {
    top: 45px;
  }

  @media (min-width: $desktop-width) {
    top: 105px;
  }
}

.gallery__buttons {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 146px;
    right: 45px;

    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__button--prev {
  padding-right: 7px;

  transform: rotate(180deg);
}
