.header {
  background-color: $color-navy-blue;
}

.header__container {
  position: relative;

  min-height: 50px;
  padding: 15px 15px 0;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 20px 25px 12px 51px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 96px 28px 120px;
  }
}

.header__wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: normal;
    flex-direction: row;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  @media (min-width: $tablet-width) {
    margin-right: 99px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.header__phone-link {
  font-size: $font-line-size-rat;
  font-weight: $semi-bold;
  line-height: $font-line-size-rabbit;

  padding: 12px 0 13px 30px;

  text-decoration: none;

  color: $color-default-white;

  @media (min-width: $tablet-width) {
    font-size: $font-line-size-fox;
    line-height: $font-line-size-fox;

    padding: 15px 20px 15px 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-line-size-wolf;
    line-height: $font-line-size-wolf;

    min-width: 156px;
    padding: 24px 24px 24px 30px;
  }

  &:hover {
   color: rgba($color-default-white, 0.5);
  }

  &:focus {
   color: $color-elephant;
  }

  &:active {
    color: $color-resolution-blue;
  }

  &--disabled {
    pointer-events: none;

    color: $color-nobel;

    &:focus {
      color: $color-nobel;
    }
  }
}

.header--nojs .header__menu-toggle {
  display: none;
}

.header--nojs .main-nav__list {
  display: flex;
}

.header__menu-toggle {
  position: absolute;
  top: 15px;
  left: 15px;

  display: block;

  width: 26px;
  height: 26px;

  border: none;
  background-color: transparent;
  background-image: url("/__spritemap#sprite-burger-closed-view");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    top: 28px;
    left: 45px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__menu-toggle--opened {
  background-image: url("/__spritemap#sprite-burger-opened-view");
  background-repeat: no-repeat;
}
