.page-body {
  min-width: $mobile-width;
  min-height: 100%;
  font-family: $montserrat;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}
