@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: $medium;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: $regular;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: $light;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
}
