@font-face {
  font-style: normal;
  font-weight: $extra-bold;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: $bold;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}


@font-face {
  font-style: normal;
  font-weight: $semi-bold;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: $medium;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: $regular;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: $light;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
