// Сustom сolor

$color-elephant: #2d383f;
$color-navy-blue: #0266c1;
$color-resolution-blue: #1c3374;
$color-nobel: #999999;
$color-torch-red: #ff121f;


// Default color

$color-default-black: #000000;
$color-default-white: #ffffff;


// Gradient

$main-gradient: linear-gradient(112deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
$additional-graditen: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 22.3%, rgba(0, 0, 0, 0) 60.32%);

// Typography

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$font-line-size-mouse: 12px;
$font-line-size-rat: 13px;
$font-line-size-rabbit: 14px;
$font-line-size-fox: 16px;
$font-line-size-dog: 17px;
$font-line-size-wolf: 18px;
$font-line-size-deer: 20px;
$font-line-size-moose: 21px;
$font-line-size-bear: 22px;
$font-line-size-lion: 24px;
$font-line-size-alligator: 25px;
$font-line-size-hippo: 26px;
$font-line-size-rhino: 28px;
$font-line-size-elephant: 30px;
$font-line-size-anaconda: 35px;
$font-line-size-giraffe: 40px;
$font-line-size-grampus: 55px;
$font-line-size-blue-whale: 56px;
$font-line-size-moon: 77px;
$font-line-size-earth: 100px;
$montserrat: "Montserrat", "Arial", sans-serif;

// Width

$desktop-width: 1440px;
$tablet-width: 768px;
$max-mobile-width: 767px;
$mobile-width: 320px;
